<!DOCTYPE html>
<html lang="en">
<head>

    <title>Gestor reuniones OIJ</title>
    <meta charset="utf-8" />
    <meta name="description" content="Gestor de reuniones para OIJ" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="~/img/escudo.ico" />


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link href="../assets/dist/css/bootstrap.css" rel="stylesheet">
        <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">*@
    @*<link href="navbar.css" rel="stylesheet">*@
    <link href="navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" type="text/css" href="~/css/script.css" />*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- JS-->
    <script type="text/javascript" src="~/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/js/script7.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/ScriptModals.js"></script>
    <script type="text/javascript" src="~/js/ScriptTarea.js"></script>
    <script type="text/javascript" src="~/js/ScriptReunion.js"></script>
    <script type="text/javascript" src="~/js/calendar.js"></script>

    <!--DATATABLES-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

</head>

<body class="bg-light">
    <header>
      
    </header>

    <main role="main" class="pb-3">
        <div class="container-fluid" style="width:90%">
            @RenderBody()
        </div>
    </main>


    <footer class="border-top footer text-muted">
        @*<div class="container">
                &copy; 2020 - GestorReunionesProyectoAplicada - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!--<script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


</body>
</html>
